.card-details,
.details-front {
  display: flex;
  flex-direction: column;
}

.card-front {
  position: relative;
  top: 65%;
  right: 7%;
  z-index: 1;
}

.card-details {
  background-image: url("../../assets/images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  color: var(--white);
  margin-bottom: 32px
}

.card-front-image,
.card-back-image,
.details-front {
  width: 18rem;
  height: 10rem;
}

.card-back {
  position: relative;
  bottom: 40%;
  left: 7%;
}

.details-front,
.details-back {
  position: absolute;
}

.details-front {
  font-size: 14px;
  top: 0%;
  right: 0%;
  z-index: 2;
  padding: 20px 24px;
}

.details-front,
.card-info {
  justify-content: space-between;
}

.details-back {
  bottom: 48.5%;
  right: 14%;
}

.card-cvc,
.card-info {
  font-size: 10px;
  letter-spacing: 1px;
}

.card-info {
  display: flex;
}

.card-logo {
  width: 64px;
  height: 35px;
}

.card-number {
  font-size: 18px;
  margin-bottom: 16px;
}