.form-label {
  font-size: 1rem;
  color: var(--very-dark-violet);
  margin-bottom: 0.7rem;
}

.form-row,
.input-container,
.submit-button,
.form-input {
  width: 100%;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

form {
  width: 35%;
}

.input-container {
  display: block;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 1px;
}

.input-container:focus-within,
.input-container:hover {
  background: var(--linear-gradient);
}

.submit-button:hover:not(:disabled) {
  background: var(--linear-gradient);
}

.submit-button:disabled {
  background-color: var(--light-grayish-violet);
  cursor: not-allowed;
}

.submit-button:disabled:hover {
  background-color: var(--dark-grayish-violet);
  cursor: not-allowed;
}

.invalid-field {
  background: var(--red);
}
