.form-label {
  font-size: 1rem;
  color: var(--very-dark-violet);
  margin-bottom: 0.7rem;
}

.form-row,
.input-container,
.submit-button,
input {
  width: 100%;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

form {
  width: 35%;
}

input,
button {
  font-size: 1.1rem;
}

.input-container {
  display: block;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 1px;
}

.input-container:focus-within,
.input-container:hover {
  background: var(--linear-gradient);
}

input {
  background: var(--white);
  border: 1px solid var(--light-grayish-violet);
  border-radius: 8px;
  letter-spacing: 0.8px;
  padding: 12px;
  outline: none;
}

input::placeholder {
  color: var(--dark-grayish-violet);
}

.submit-button {
  border: none;
  border-radius: 5px;
  padding: 0.8rem;
  margin-top: 2rem;
  background-color: var(--very-dark-violet);
  color: var(--white);
  cursor: pointer;
}

.invalid-field {
  background: var(--red);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
