.form-label {
  font-size: 14px;
  color: var(--very-dark-violet);
  margin-bottom: 12px;
}

.form-row,
.input-container,
.submit-button,
.form-input {
  width: 100%;
}

.form-row,
.form-last-row,
.form-date-row {
  display: flex;
}

.form-row,
.form-date-row {
  flex-direction: column;
  margin-bottom: 16px;
}

.form-last-row {
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.card-form {
  width: 100%;
  padding: 24px;
  margin-top: 20px;
}

.input-container {
  display: block;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 1px;
}

.input-container:focus-within,
.input-container:hover {
  background: var(--linear-gradient);
}

.submit-button {
  margin-top: 24px;
}

.submit-button:hover:not(:disabled) {
  background: var(--linear-gradient);
}

.submit-button:disabled {
  background-color: var(--light-grayish-violet);
  cursor: not-allowed;
}

.submit-button:disabled:hover {
  background-color: var(--dark-grayish-violet);
  cursor: not-allowed;
}

.invalid-field {
  background: var(--red);
}

.form-date-row {
  width: 115%;
}
