@font-face {
  font-family: "Space Grotesk";
  src: url("./assets/fonts/SpaceGrotesk-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

:root {
  --linear-gradient: linear-gradient(
    to left,
    hsl(249, 99%, 64%),
    hsl(278, 94%, 30%)
  );
  --red: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
  --font-size: 18px;
  --font-family: "Space Grotesk", sans-serif;
  font-family: var(--font-family);
  letter-spacing: 2px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  text-rendering: optimizelegibility;
}
