button {
  border: none;
  padding: 16px;
  background-color: var(--very-dark-violet);
  color: var(--white);
  cursor: pointer;
}

input,
button {
  font-size: 18px;
  border-radius: 8px;
  letter-spacing: 1px;
}

input {
  background: var(--white);
  border: 1px solid var(--light-grayish-violet);
  border-radius: 8px;
  letter-spacing: 1px;
  padding: 12px;
  outline: none;
}

input::placeholder {
  color: var(--dark-grayish-violet);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
